@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

* {
  font-family: 'Nanum Brush Script', cursive;    
}

/* 로그인버튼 */
.loginBtn, .signupBtn{
    width : 571px;
    height: 44px;
    border-radius: 15px;
    margin-bottom : 32px; 
    background: #1DA1F2;
    /*background: #1DA1F2;*/
    font-size: 30px;
    font-weight: 400;
    color: white;
    border : none;
}

.loginBtn:hover{
    cursor: pointer;
    opacity: 0.5;
}

.signupBtn:hover{
    cursor: pointer;
    opacity: 0.5;
}


.loginBtnDefault{
    width : 571px;
    height: 44px;
    border-radius: 15px;
    margin-bottom : 32px; 
    background: gray;
    font-size: 30px;
    font-weight: 400;
    color: white;
    border : none;
}

.loginBtnDefault:hover{
    cursor: pointer;
    opacity: 0.5;
}

#login-root{
  position : relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width : 571px){
  #login-root{
    width :100%;
  } 
}

h1 {
  text-align: center;
  font-size: 54px;
  font-weight: 400;
}

#login-enter-id, #login-enter-password {
  width : 571px;
  height : 50px;
  margin-bottom : 64px;  
  border: 1px solid gainsboro;
  border-bottom: 2px solid black;
  background: #F5F8FA;
  font-size: 25px;
}

#login-btn{
  width : 571px;
  height: 44px;
  border-radius: 15px; 
  background: gray;
  font-size: 40px;
  font-weight: 400;
  color: white;
  border : none;
  margin-bottom: 30px;
}

.login-wrap-input-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width : 30px;
  margin-left : 10px;
}

#login-btn:hover{
  cursor: pointer;
  opacity: 0.5;
}

.wrap-message { 
  position: relative;
  left : -180px;
}

/* 애니메이션 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	/* min-height: 100vh;*/
	min-height: 35rem;
	background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {	
	color: black;
	font-size: 4rem;
	letter-spacing: -3px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	position: relative;
	z-index: 3;
}


.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;	
	animation-name: fly-cycle;
	animation-duration: 1s;
	animation-delay: -0.5s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;  
}

.bird-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	will-change: transform;
  margin-left : 230px;
}

@keyframes fly-cycle {
	
	100% {
		background-position: -3600px 0;
	}	
 
}

