.tweet-left-box-wrap-bottom {
    border : 1px solid white; /*없으면 왜 갈라지지?*/
    width: 100%;
    height : 50%;
    background: white;
  }

  .tweet-left-box-wrap-bottom{
    position : relative;
  }

  .user-name{
    font-weight: bold;
    font-size : 24px; 
  }