/* *{
  font-family: 'Nanum Brush Script', cursive;
} */

@media(max-width:571px){
    #signup-root{
     width : 100%;
    }
  }
  

  .loginBtn, .signupBtn{
    width : 571px;
    height: 44px;
    border-radius: 15px;
    margin-bottom : 32px; 
    background: #1DA1F2;
    /*background: #1DA1F2;*/
    font-size: 30px;
    font-weight: 400;
    color: white;
    border : none;
}

.signupBtnDefault{
  width : 571px;
    height: 44px;
    border-radius: 15px;
    margin-bottom : 32px; 
    background: gray;
    /*background: #1DA1F2;*/
    font-size: 30px;
    font-weight: 400;
    color: white;
    border : none;
}


.loginBtn:hover{
    cursor: pointer;
    opacity: 0.5;
}


  #signup-root{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  h1 {
    text-align: center;
    font-size: 54px;
    font-weight: 400;
  } 
   
  .signup-wrap-input-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .one{
    position :relative;
    left : -190px;
    bottom : 370px;
  }
  
  .two{
    position :relative;
    bottom : 290px;
    left : -219px;
  }
  /* #alert-password-check-message { 
    position : relative;
    z-index : 1;
    left : 560px;
    bottom : 300px;
  }
  
  #alert-password-message{
    position : relative;
    z-index : 2;
    left : 560px;
    bottom : 380px;
  } */